

<div class="banner_slider overlay_banner overlay_banner_header">
    <div class="slide">
        <div class="slide_img" style="background-image: url(images/slides/slider-mainbg-005.jpg);"></div>
        <div class="slide__content ttm-textcolor-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slide__content--headings">
                            <h3 data-animation="fadeInDown" class="ttm-textcolor-skincolor">İşinizi Geliştirecek </h3>
                            <h2 data-animation="fadeInDown">Uzman Kadromuzla Yanınızdayiz</h2>
                            <div data-animation="pulse" class="fbox sm-hide ttm-bgcolor-skincolor" data-delay="2"><h3> </h3><p class="padding_bottom15">İşletmeniz için en uygun çözümü bulmak ister misiniz?</p></div>
                            <div data-animation="pulse" class="fbox sm-hide ttm-bgcolor-white ttm-textcolor-darkgrey mt_20 margin_left20" data-delay="2"><h3> </h3><p>Sektörlere özel Logo çözümleri</p></div>
                        </div>
               </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="slide_img" style="background-image: url(images/slides/slider-mainbg-006.jpg);"></div>
        <div class="slide__content ttm-textcolor-white text-right">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slide__content--headings">
                            <h3 data-animation="fadeInDown" class="ttm-textcolor-skincolor">The Power of Choice.</h3>
                            <h2 data-animation="fadeInDown">The Power of Choice.</h2>
                            <p data-animation="fadeInDown">Our results solution combines implementation support, capability building and  <br> state-of-the-art diagnostic and analytic tools.</p>
                            <div class="margin_top30 res-767-margin_top20" data-animation="fadeInUp" data-delay="1.4">
                                <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-border ttm-btn-color-white" href="contact-us.html">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>