
@{
    ViewData["Title"] = "Index";
}

<div class="ttm-page-title-row">
    <div class="ttm-page-title-row-inner ttm-bgcolor-darkgrey">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h2 class="title">Hizmet Alanlarımız</h2>
                    </div>
                    <div class="breadcrumb-wrapper">
                        <span>
                            <i class="ti ti-home margin_right1"></i>
                            <a title="Homepage" href=" @Url.Action("Index","Home")">Home</a>
                        </span>
                        <span>Hİzmetler</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <section class="ttm-row tab-section clearfix">
        <div class="container" style="margin-top:-30px">
            <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- section title -->
                    <div class="section-title style2">
                        <div class="title-header">
                            <h6 class="ttm-textcolor-skincolor">Daha iyi hizmet ve daha etkili büyüme için Logo çözümleriyle işletmenize değer katın!</h6>
                            <h2 class="title"> Sektörler</h2>
                        </div>
                        <div class="title-desc">
                            <p class=""><br>Kurumsal kaynak planlama (ERP) <br>Müşteri ilişkileri yönetimi (CRM)<br>Bordro ve İnsan Kaynakları Yönetimi (HRM)<br>Depo yönetim sistemleri (WMS)<br> e-Fatura, e-Arşiv, e-Defter, e-Mutabakat, e-Ekstre</p>
                        </div>
                    </div>
                </div>
            </div><!-- row end -->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="ttm-tabs ttm-tab-style-01" data-effect="fadeIn">
                        <ul class="tabs text-center clearfix">
                            <li class="tab"><a href="#"><i class="flaticon flaticon-organization"></i>Medya</a></li>
                            <li class="tab"><a href="#"><i class="flaticon flaticon-corporate"></i>Makina ve parça imalatı<br></a></li>
                            <li class="tab"><a href="#"><i class="flaticon flaticon-idea"></i>Tekstil</a></li>
                            <li class="tab"><a href="#"><i class="flaticon flaticon-employee"></i>Perakende</a></li>
                            <li class="tab"><a href="#"><i class="flaticon flaticon-money"></i>e-Ticaret</a></li>
                            <li class="tab"><a href="#"><i class="flaticon flaticon-website"></i>Eğitim</a></li>
                        </ul>
                        <ul class="tabs text-center clearfix" style="margin-top:-70px">
                            <li class="tab"><a href="#"><i class="flaticon flaticon-organization"></i>Otomotiv</a></li>
                            <li class="tab"><a href="#"><i class="flaticon flaticon-corporate"></i>İnşaat<br></a></li>
                            <li class="tab"><a href="#"><i class="flaticon flaticon-idea"></i>Dağıtım</a></li>
                            <li class="tab"><a href="#"><i class="flaticon flaticon-employee"></i>Elektrik ve elektronik</a></li>
                            <li class="tab"><a href="#"><i class="flaticon flaticon-money"></i>e-Finans - sigorta</a></li>
                            <li class="tab"><a href="#"><i class="flaticon flaticon-website"></i>Metal ürünler</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>