@{
    ViewData["Title"] = "Home Page";
}
<!--site-main start-->

@await Component.InvokeAsync("Slider")
@*@await Html.PartialAsync("_SliderPartialView")*@
<div class="site-main">
    <section class="ttm-row broken-section ttm-bgcolor-skincolor clearfix">
        <div class="container-fluid">
            <div class="row row-equal-height">
                <div class="col-xl-9 col-md-12">
                    <div class="ttm-bg ttm-col-bgcolor-yes ttm-left-span ttm-bgcolor-skincolor w-100 padding_left40 res-991-padding_left0 text-left">
                        <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                        <div class="layer-content featuredbox-number">
                            <div class="row ttm-vertical_sep">
                                <div class="col-lg-4 col-sm-6 col-xs-12">
                                    <!-- featured-icon-box -->
                                    <div class="featured-icon-box icon-align-before-content style4">
                                        <div class="featured-icon">
                                            <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-white ttm-icon_element-size-lg">
                                                <i class="flaticon-management"></i>
                                                <i class="ttm-num ti-info"></i>
                                            </div>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h3>AKILLI ÇÖZÜMLERLE</h3>
                                            </div>
                                            <div class="featured-desc">
                                                <p>ŞİRKETİNİZİN VERİMLİLİĞİNİ ARTIRIN</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- featured-icon-box end -->
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-12">
                                    <!-- featured-icon-box -->
                                    <div class="featured-icon-box icon-align-before-content style4">
                                        <div class="featured-icon">
                                            <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-white ttm-icon_element-size-lg">
                                                <i class="flaticon-idea"></i>
                                                <i class="ttm-num ti-info"></i>
                                            </div>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h3>MUHASEBE</h3>
                                            </div>
                                            <div class="featured-desc">
                                                <p>SÜREÇLERİNİZİ KOLAYCA TAKİP EDİN</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- featured-icon-box end -->
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-12">
                                    <!-- featured-icon-box -->
                                    <div class="featured-icon-box icon-align-before-content style4">
                                        <div class="featured-icon">
                                            <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-white ttm-icon_element-size-lg">
                                                <i class="flaticon-presentation"></i>
                                                <i class="ttm-num ti-info"></i>
                                            </div>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h3>E-ÇÖZÜMLER</h3>
                                            </div>
                                            <div class="featured-desc">
                                                <p>DAHA YÜKSEK HIZ, DAHA DÜŞÜK MALİYET</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- featured-icon-box end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-xs-12">
                    <div class="ttm-bg ttm-col-bgcolor-yes ttm-right-span ttm-bgcolor-darkgrey w-100 margin_left40 text-left res-991-margin_top40">
                        <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                        <div class="layer-content">
                            <!-- featured-icon-box -->
                            <div class="featured-icon-box icon-align-before-content style5 margin_right20 ml_40 res-991-margin_right0">
                                <div class="featured-icon">
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-skincolor ttm-icon_element-size-sm ttm-icon_element-style-rounded">
                                        <i class="flaticon-call"></i>
                                    </div>
                                </div>
                                <div class="featured-content">
                                    <div class="featured-desc">
                                        <p>Ücretsiz Danışma</p>
                                    </div>
                                    <div class="featured-title">
                                        <h5>0 532 598 94 42</h5>
                                        <h5>0 212 591 22 28</h5>
                                    </div>
                                </div>
                            </div>
                            <!-- featured-icon-box end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ttm-row tab-section clearfix">
        <div class="container" style="margin-top:-30px">
            <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- section title -->
                    <div class="section-title style2">
                        <div class="title-header">
                            <h6 class="ttm-textcolor-skincolor">Daha iyi hizmet ve daha etkili büyüme için Logo çözümleriyle işletmenize değer katın!</h6>
                            <h2 class="title"> Sektörler</h2>
                        </div>
                        <div class="title-desc">
                            <p class=""><br />Kurumsal kaynak planlama (ERP) <br />Müşteri ilişkileri yönetimi (CRM)<br />Bordro ve İnsan Kaynakları Yönetimi (HRM)<br />Depo yönetim sistemleri (WMS)<br /> e-Fatura, e-Arşiv, e-Defter, e-Mutabakat, e-Ekstre</p>
                        </div>
                    </div>
                </div>
            </div><!-- row end -->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="ttm-tabs ttm-tab-style-01" data-effect="fadeIn">
                        <ul class="tabs text-center clearfix">
                            <li class="tab"><a href="#"><i class="flaticon flaticon-organization"></i>Medya</a></li>
                            <li class="tab"><a href="#"><i class="flaticon flaticon-corporate"></i>Makina ve parça imalatı<br /></a></li>
                            <li class="tab"><a href="#"><i class="flaticon flaticon-idea"></i>Tekstil</a></li>
                            <li class="tab"><a href="#"><i class="flaticon flaticon-employee"></i>Perakende</a></li>
                            <li class="tab"><a href="#"><i class="flaticon flaticon-money"></i>e-Ticaret</a></li>
                            <li class="tab"><a href="#"><i class="flaticon flaticon-website"></i>Eğitim</a></li>
                        </ul>
                        <ul class="tabs text-center clearfix" style="margin-top:-70px">
                            <li class="tab"><a href="#"><i class="flaticon flaticon-organization"></i>Otomotiv</a></li>
                            <li class="tab"><a href="#"><i class="flaticon flaticon-corporate"></i>İnşaat<br /></a></li>
                            <li class="tab"><a href="#"><i class="flaticon flaticon-idea"></i>Dağıtım</a></li>
                            <li class="tab"><a href="#"><i class="flaticon flaticon-employee"></i>Elektrik ve elektronik</a></li>
                            <li class="tab"><a href="#"><i class="flaticon flaticon-money"></i>e-Finans - sigorta</a></li>
                            <li class="tab"><a href="#"><i class="flaticon flaticon-website"></i>Metal ürünler</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="margin-top:-50px" class="ttm-row cta-section ttm-textcolor-white bg-img2 clearfix">
        <div class="container">
            <!-- row -->
            <div class="row align-items-md-center justify-content-between">
                <div class="col-lg-10 col-md-12 mr-auto">
                    <!-- section-title -->
                    <div style="margin-left:-0px" class="section-title">
                        <div class="title-header">
                            <h3 class="font-weight-normal"> Logo Flow’un Docplace </h3>
                            <h4 class="title">
                                entegrasyonuyla dosyalara anında erişin, dokümanları tek alandan yönetin!
                                Detaylı bilgi için link bio'da.
                            </h4>
                        </div>
                    </div><!-- section-title end -->
                    <div class="d-inline-block">
                        <a href="https://youtu.be/eejm6QU32r8" target="_self" class="ttm_prettyphoto ttm-btn-color-white  ttm-btn btn-inline ttm-btn-size-md">
                            <span class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-textcolor-white ttm-icon_element-size-xs ttm-icon_element-style-rounded margin_right10 margin_bottom0">
                                <i class="ti ti-control-play margin_left0 padding_left1"></i>
                            </span>
                        </a><span class="font-weight-bold">VIDEO</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br />
    <section class="ttm-row services-section ttm-bgcolor-darkgrey bg-img10 clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- section title -->
                    <div class="section-title style2">
                        <div class="title-header">
                            <h3>Haberler    </h3>
                            <h2 class="title">E-İrsaliye’ ye Hazır mısınız.</h2>
                        </div>
                        <div class="title-desc">
                            <h2>Orta Vadede Kağıt Fatura Tarih Oluyor.</h2>
                        </div>
                    </div><!-- section title end -->
                </div>
            </div><!-- row end -->
            <!-- row -->
            <div class="row row-equal-height">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <!--featured-icon-box-->
                    <div class="featured-icon-box icon-align-top-content style1">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-style-rounded ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                                <i class="flaticon flaticon-management"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">

                            </div>
                            <div class="featured-desc">
                                <p>
                                    Çok yakında yollarda Elinde tabletle Mali polisleri göreceğiz. Evet bu E-İrsaliyenin şimdiden hayal ettiğimiz ve yakın zamanda karşılaşacağımız boyutudur. E-Fatura,  E-Defter ve E-Arşiv’ den sonraki aşama olarak beklediğimiz E-Devlet uygulaması olan E-İrsaliye var. 2016 yılında tebliğ’ in yayınlanması beklenen
                                </p>
                            </div>

                        </div>
                    </div><!-- featured-icon-box end-->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <!--featured-icon-box-->
                    <div class="featured-icon-box icon-align-top-content style1">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-style-rounded ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                                <i class="flaticon flaticon-idea-2"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">

                            </div>
                            <div class="featured-desc">
                                <p>E-İrsaliye daha önce kağıt ortamında düzenlenen irsaliyelerin Elektronik ortama taşınması anlamına geliyor. Tahminimiz ise hazırlanmış olan E-İrsaliyenin GIB’ in sistemine yüklenerek ilgili sevkiyatın yola çıkmasıyla başlayıp malın teslim’ i ile alıcının onaylaması ile tamamlanan bir süreç olarak karşımıza çıkmasını bekliyoruz.</p>
                            </div>

                        </div>
                    </div><!-- featured-icon-box end-->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <!--featured-icon-box-->
                    <div class="featured-icon-box icon-align-top-content style1">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-style-rounded ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                                <i class="flaticon flaticon-document"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">

                            </div>
                            <div class="featured-desc">
                                <p>Bilindiği gibi 2013 yılında E-Fatura sistemine start düğmesine basıldı. GIB’ in bu konuda düşünceleri 5 yıla kadar kağıt faturanın tedavülden kaldırılması ve bütün mükelleflerin E-Fatura sistemine dahil olmasıdır. 2016 Yılına kadar da zaten Yazar Kasaların da Online olma zorunluluğu da bu planın bir parçası</p>
                            </div>

                        </div>
                    </div><!-- featured-icon-box end-->
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <!--featured-icon-box-->
                    <div class="featured-icon-box icon-align-top-content style1">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-style-rounded ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                                <i class="flaticon flaticon-corporate-1"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h3>Amacımız</h3>
                            </div>
                            <div class="featured-desc">
                                <p>Kıta Bilişim olarak Amacımız ; ERP yazılım, danışmanlık ihtiyaçlarınıza en uygun çözümleri üretmek ve müşterilerimizin en güvenilir iş ortakları arasında yer almaktır.</p>
                            </div>

                        </div>
                    </div><!-- featured-icon-box end-->
                </div>
            </div><!-- row end -->

        </div>
    </section>
    <section class="ttm-row tab-section clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- section-title -->
                    <div class="section-title title-style-center_text">
                        <div class="title-header">
                            <h3>İŞTEN İŞE</h3>
                            <h2 class="title">Öğrenme Analitiği Çözümleri</h2>
                        </div>
                        <div class="title-desc">
                            <p>Dünyanın dört bir yanındaki birçok sektörde geniş bir deneyime sahip olan ödüllü ekibimiz, insanların kullanmayı sevdiği ürünler üretir.</p>
                        </div>
                    </div><!-- section-title end -->
                </div>
                <div class="col-lg-12">
                    <div class="row ttm-tabs ttm-tab-style-02" data-effect="fadeIn">
                        <div class="col-xl-8 col-lg-7 content-tab padding_right45">
                            <!-- content-inner -->
                            <div class="content-inner active" style="display: none;">
                                <!-- featured-imagebox-post -->
                                <div class="featured-imagebox featured-imagebox-services style1 border-rad_6 ttm-textcolor-white">
                                    <div class="featured-thumbnail">
                                        <img src="images/services/services-01.jpg" height="480" width="750" alt="image">
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">

                                            <h3>Sürdürülebilirlik Için İş Senaryosu</h3>
                                        </div>
                                        <div class="featured-desc">
                                            <p>Hem ekonomi hem de bilgi teknolojileri konusunda uzmanız ve tüm yeteneklerimizi uyguluyoruz.</p>
                                        </div>
                                        <a href="strategy-planning.html" class="ttm-btn btn-inline ttm-btn-size-md">
                                            <span class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-xs ttm-icon_element-style-rounded margin_bottom0">
                                                <i class="ti ti-angle-right margin_left0"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div><!-- featured-imagebox-post end-->
                            </div>
                            <!-- content-inner -->
                            <div class="content-inner" style="display: block;">
                                <!-- featured-imagebox-post -->
                                <div class="featured-imagebox featured-imagebox-services style1 border-rad_6 ttm-textcolor-white">
                                    <div class="featured-thumbnail">
                                        <img src="images/services/services-02.jpg" height="480" width="750" alt="image">
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">

                                            <h3>Dönüşüm Politikamız</h3>
                                        </div>
                                        <div class="featured-desc">
                                            <p>
                                                Hem ekonomi hem de bilgi teknolojileri konusunda uzmanız ve tüm yeteneklerimizi uyguluyoruz.

                                            </p>
                                        </div>
                                        <a href="strategy-planning.html" class="ttm-btn btn-inline ttm-btn-size-md">
                                            <span class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-xs ttm-icon_element-style-rounded margin_bottom0">
                                                <i class="ti ti-angle-right margin_left0"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div><!-- featured-imagebox-post end-->
                            </div>
                            <!-- content-inner -->
                            <div class="content-inner">
                                <!-- featured-imagebox-post -->
                                <div class="featured-imagebox featured-imagebox-services style1 border-rad_6 ttm-textcolor-white">
                                    <div class="featured-thumbnail">
                                        <img src="images/services/services-01.jpg" height="480" width="750" alt="image">
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">

                                            <h3>Müşteri Stratejimiz</h3>
                                        </div>
                                        <div class="featured-desc">
                                            <p>Hem ekonomi hem de bilgi teknolojileri konusunda uzmanız ve tüm yeteneklerimizi uyguluyoruz.</p>
                                        </div>
                                        <a href="strategy-planning.html" class="ttm-btn btn-inline ttm-btn-size-md">
                                            <span class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-xs ttm-icon_element-style-rounded margin_bottom0">
                                                <i class="ti ti-angle-right margin_left0"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div><!-- featured-imagebox-post end-->
                            </div>
                            <!-- content-inner -->
                            <div class="content-inner">
                                <!-- featured-imagebox-post -->
                                <div class="featured-imagebox featured-imagebox-services style1 border-rad_6 ttm-textcolor-white">
                                    <div class="featured-thumbnail">
                                        <img src="images/services/services-02.jpg" height="480" width="750" alt="image">
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">

                                            <h3>Marka Yönetimi Kariyeri</h3>
                                        </div>
                                        <div class="featured-desc">
                                            <p>Hem ekonomi hem de bilgi teknolojileri konusunda uzmanız ve tüm yeteneklerimizi uyguluyoruz. </p>
                                        </div>
                                        <a href="strategy-planning.html" class="ttm-btn btn-inline ttm-btn-size-md">
                                            <span class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-xs ttm-icon_element-style-rounded margin_bottom0">
                                                <i class="ti ti-angle-right margin_left0"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div><!-- featured-imagebox-post end-->
                            </div>
                            <!-- content-inner -->
                            <div class="content-inner">
                                <!-- featured-imagebox-post -->
                                <div class="featured-imagebox featured-imagebox-services style1 border-rad_6 ttm-textcolor-white">
                                    <div class="featured-thumbnail">
                                        <img src="images/services/services-01.jpg" height="480" width="750" alt="image">
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">

                                            <h3>Gelişmiş Analitik Grafiğimiz</h3>
                                        </div>
                                        <div class="featured-desc">
                                            <p>Hem ekonomi hem de bilgi teknolojileri konusunda uzmanız ve tüm yeteneklerimizi uyguluyoru</p>
                                        </div>
                                        <a href="strategy-planning.html" class="ttm-btn btn-inline ttm-btn-size-md">
                                            <span class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-xs ttm-icon_element-style-rounded margin_bottom0">
                                                <i class="ti ti-angle-right margin_left0"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div><!-- featured-imagebox-post end-->
                            </div>
                            <!-- content-inner -->
                            <div class="content-inner">
                                <!-- featured-imagebox-post -->
                                <div class="featured-imagebox featured-imagebox-services style1 border-rad_6 ttm-textcolor-white">
                                    <div class="featured-thumbnail">
                                        <img src="images/services/services-01.jpg" height="480" width="750" alt="image">
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h3>şletmelerde Büyüme Stratejileris</h3>
                                        </div>
                                        <div class="featured-desc">
                                            <p>Hem ekonomi hem de bilgi teknolojileri konusunda uzmanız ve tüm yeteneklerimizi uyguluyoruz.</p>
                                        </div>
                                        <a href="strategy-planning.html" class="ttm-btn btn-inline ttm-btn-size-md">
                                            <span class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-xs ttm-icon_element-style-rounded margin_bottom0">
                                                <i class="ti ti-angle-right margin_left0"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div><!-- featured-imagebox-post end-->
                            </div>
                        </div>
                        <ul class="col-xl-4 col-lg-5 res-991-padding_left15 padding_right15 tabs clearfix">
                            <li class="tab">
                                <a href="#">
                                    <i class="flaticon flaticon-idea-1"></i>
                                    <h3>Sürdürülebilirlik</h3>
                                </a>
                            </li>
                            <li class="tab active">
                                <a href="#">
                                    <i class="flaticon flaticon-salary"></i>
                                    <h3>Dönüşüm</h3>
                                </a>
                            </li>
                            <li class="tab">
                                <a href="#">
                                    <i class="flaticon flaticon-employee"></i>
                                    <h3>Müşteri Stratejisi</h3>
                                </a>
                            </li>
                            <li class="tab">
                                <a href="#">
                                    <i class="flaticon flaticon-money"></i>
                                    <h3>Pazarlama</h3>
                                </a>
                            </li>
                            <li class="tab">
                                <a href="#">
                                    <i class="flaticon flaticon-presentation"></i>
                                    <h3>İleri Analitik</h3>
                                </a>
                            </li>
                            <li class="tab">
                                <a href="#">
                                    <i class="flaticon flaticon-briefcase"></i>
                                    <h3>Büyüme Stratejileri</h3>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ttm-row broken-section clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-7 mx-auto">
                            <div class="ttm-bg ttm-col-bgcolor-yes ttm-bgcolor-grey ttm-left-span spacing-7 res-767-mr_15">
                                <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                                <div class="layer-content">
                                    <!-- ttm_single_image-wrapper -->
                                    <div class="ttm_single_image-wrapper">
                                        <div class="d-inline-block p-10 ttm-bgcolor-white border-rad_6 position-relative z-index-1 box-shadow mr_300 res-767-margin_right0">
                                            <img class="img-fluid" src="images/single-img-04.jpg" alt="single_04">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="padding_top100 margin_top15 res-991-margin_top0 res-991-padding_top40 res-991-padding_bottom60 ml_25 res-1199-margin_left0">
                                <!-- section-title -->
                                <div class="section-title">
                                    <div class="title-header">
                                        <h3>
                                            İŞTEN İŞE
                                        </h3>
                                        <h2 class="title">Strateji Yaptıklarımızın Kalbindedir</h2>
                                    </div>
                                    <div class="title-desc"><p>Teknolojik yeniliklerin artan hızıyla her zamankinden daha hızlı gelişiyoruz. Bu sorunlu sularda, en ileri görüşlü kuruluşlarda bile sürekli olarak meydan okunmaktayız ..</p></div>
                                </div><!-- section-title end -->
                                <div class="clearfix">
                                    <ul class="ttm-list ttm-list-style-icon ttm-list-icon-color-skincolor">
                                        <li><i class="fa fa-long-arrow-right"></i><span class="ttm-list-li-content font-weight-normal">Şirketinizdeki en yüksek puan alan müşteri hizmetleri.</span></li>
                                        <li><i class="fa fa-long-arrow-right"></i><span class="ttm-list-li-content font-weight-normal">Müşteri memnuniyeti için ideal müşteri hizmetleri stratejisi.</span></li>
                                        <li><i class="fa fa-long-arrow-right"></i><span class="ttm-list-li-content font-weight-normal">Müşterilerin başarısına yardımcı olmak için kişiselleştirilmiş planlar sunuyoruz.</span></li>
                                        <li><i class="fa fa-long-arrow-right"></i><span class="ttm-list-li-content font-weight-normal">Tüm müşteri hizmetleri ihtiyaçlarını karşılamak için tam eğitimli.</span></li>
                                    </ul>
                                </div>
                                <div class="ttm-horizontal_sep width-100 margin_top40"></div>
                                <div class="row ttm-vertical_sep padding_right30 res-991-padding_right0">
                                    <div class="col-sm-6">
                                        <div class="featured-icon-box icon-align-before-content margin_top40 margin_bottom0">
                                            <div class="featured-icon">
                                                <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-style-rounded ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                                                    <i class="flaticon flaticon-analysis"></i>
                                                </div>
                                            </div>
                                            <div class="featured-content">
                                                <div class="featured-title">
                                                    <h3 class="margin_bottom5">25 YIL</h3>
                                                </div>
                                                <div class="featured-desc">
                                                    <p class="margin_bottom0">Deneyim</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="d-sm-flex align-items-center margin_top40 margin_bottom0">
                                            <div class="d-flex">
                                                <img class="img-fluid auto_size" height="84" width="102" src="images/sign-02.png" alt="sign-02">
                                                <div class="padding_left15">
                                                    <h3 class="margin_bottom0 fs-20">UFUK HUNDUR</h3>
                                                    <label>ASAL YAZILIM CEO</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ttm-row pricing_plan-section ttm-bgcolor-white clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- section title -->
                    <div class="section-title style2">
                        <div class="title-header">
                            <h3>pricing plans</h3>
                            <h2 class="title">Choose Your Best Plan</h2>
                        </div>
                        <div class="title-desc">
                            <p>Our results solution combines implementation support, capability building and state-of-the-art diagnostic and analytic tools sally change.</p>
                        </div>
                    </div><!-- section title end -->
                </div>
            </div><!-- row end -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="row no-gutters">
                        <div class="col-lg-4">
                            <!--ttm-pricing-plan-->
                            <div class="ttm-pricing-plan">
                                <div class="ttm-p_table-head">
                                    <div class="ttm-p_table-title"><h3>Professional</h3></div>
                                    <div class="ttm-p_table-desc">Designed for businesses with standard health requirements</div>
                                </div>
                                <div class="ttm-p_table-body">
                                    <div class="ttm-p_table-amount">
                                        <span class="cur_symbol">$</span>89.00<span class="pac_frequency">Per Month</span>
                                    </div>
                                    <ul class="ttm-p_table-features">
                                        <li>24/7 Tech Support</li>
                                        <li>Free Equipment Use</li>
                                        <li>Advance Options</li>
                                        <li>Unlimited Support</li>
                                    </ul>
                                </div>
                                <div class="ttm-p_table-footer">
                                    <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-border ttm-btn-color-dark" href="#">get started</a>
                                </div>
                            </div><!--ttm-pricing-plan end-->
                        </div>
                        <div class="col-lg-4">
                            <!--ttm-pricing-plan-->
                            <div class="ttm-pricing-plan pricing-recommended-plan">
                                <div class="ttm-featured-title"><i class="fa fa-star margin_right10"></i>MOST POPULAR</div>
                                <div class="ttm-p_table-head">
                                    <div class="ttm-p_table-title"><h3>Standard</h3></div>
                                    <div class="ttm-p_table-desc">Designed for businesses with standard health requirements</div>
                                </div>
                                <div class="ttm-p_table-body">
                                    <div class="ttm-p_table-amount">
                                        <span class="cur_symbol">$</span>99.00<span class="pac_frequency">Per Month</span>
                                    </div>
                                    <ul class="ttm-p_table-features">
                                        <li>24/7 Tech Support</li>
                                        <li>Free Equipment Use</li>
                                        <li>Advance Options</li>
                                        <li>Unlimited Support</li>
                                    </ul>
                                </div>
                                <div class="ttm-p_table-footer">
                                    <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-fill ttm-btn-color-skincolor" href="#">get started</a>
                                </div>
                            </div><!--ttm-pricing-plan end-->
                        </div>
                        <div class="col-lg-4">
                            <!--ttm-pricing-plan-->
                            <div class="ttm-pricing-plan">
                                <!--ttm-pricing-plan-->
                                <div class="ttm-p_table-head">
                                    <div class="ttm-p_table-title"><h3>Basic</h3></div>
                                    <div class="ttm-p_table-desc">Designed for businesses with standard health requirements</div>
                                </div>
                                <div class="ttm-p_table-body">
                                    <div class="ttm-p_table-amount">
                                        <span class="cur_symbol">$</span>69.00<span class="pac_frequency">Per Month</span>
                                    </div>
                                    <ul class="ttm-p_table-features">
                                        <li>24/7 Tech Support</li>
                                        <li>Free Equipment Use</li>
                                        <li>Advance Options</li>
                                        <li>Unlimited Support</li>
                                    </ul>
                                </div>
                                <div class="ttm-p_table-footer">
                                    <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-border ttm-btn-color-dark" href="#">get started</a>
                                </div>
                            </div><!--ttm-pricing-plan-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--site-main end-->